<div class="dashboard-container">
  <h2>Bem-vindo, {{user.name}}!</h2>
  <a class="logout-btn" href="/auth/logout">Sair</a>

  {{#if messages.success}}<div class="success">{{messages.success}}</div>{{/if}}
  {{#if messages.error}}<div class="error">{{messages.error}}</div>{{/if}}

  <section>
    <h3>Ideias Inovadoras</h3>
    <a href="/ideias/nova" class="add-btn">+ Nova Ideia</a>
    {{! Aqui vai a lista de ideias com botões para votar, editar, remover etc }}
    {{! Exemplo de como depois você vai fazer o #each ideias }}
  </section>
</div>