<h2>Ideias em destaque</h2>
<a href="/ideias/nova" class="btn btn-primary">Nova ideia</a>
<ul>
  {{#each ideas}}
    <li>
      <a href="/ideias/{{this.id}}">{{this.title}}</a>
      | Categoria:
      {{this.category}}
      | Votos:
      {{this.dataValues.upvotes}}
    </li>
  {{/each}}
</ul>